In [1]:
import pandas as pd

In [34]:
data = pd.read_csv('data/train.csv', index_col = 0, dtype={'multiple_full_time_jobs': 'boolean', 'combined_multiple_jobs': 'boolean'}).reset_index(drop=True)
data.HIREDT = data.HIREDT.apply(pd.to_datetime, format = "%m/%d/%y")
data['daysexperience'] = (pd.to_datetime('10/7/23', format = "%m/%d/%y") - data.HIREDT ).dt.days
data_num = ['RATE', 'HRSWKD', 'daysexperience']

In [35]:
data[data.AGY == 771]

,AGY,NAME,MI,JOBCLASS,JC.TITLE,RACE,SEX,EMPTYPE,HIREDT,RATE,HRSWKD,ANNUAL,STATENUM,multiple_full_time_jobs,combined_multiple_jobs,daysexperience
3,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,T,7354,LIBRARY ASSISTANT II ...,WHITE,MALE,CRP - CLASSIFIED REGULAR PART-TIME,1999-10-07,0.0,20.00,21865.68,79455,<NA>,<NA>,8766
4,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,T,154,ADMINISTRATIVE ASSISTANT III ...,WHITE,MALE,CRP - CLASSIFIED REGULAR PART-TIME,1999-10-07,0.0,20.00,20294.76,79455,<NA>,<NA>,8766
7,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,M,T021,"TEACHER,PRINCIPALS,SUPERVISORS ...",HISPANIC,FEMALE,URP - UNCLASSIFIED REGULAR PART-TIME,2014-09-02,0.0,22.50,42263.64,106189,<NA>,<NA>,3322
26,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,M,5123,DIRECT SUPPORT PROF III ...,HISPANIC,FEMALE,CRP - CLASSIFIED REGULAR PART-TIME,2015-09-14,0.0,20.00,21420.00,860235,<NA>,<NA>,2945
27,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,M,152,ADMINISTRATIVE ASSISTANT II ...,HISPANIC,FEMALE,CRP - CLASSIFIED REGULAR PART-TIME,2015-09-14,0.0,20.00,19092.72,860235,<NA>,<NA>,2945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110695,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,M,5205,RESIDENT SPECIALIST III ...,HISPANIC,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,2022-12-09,0.0,40.00,35280.00,1575198,<NA>,<NA>,302
110809,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,L,1620,DIRECTOR I ...,WHITE,MALE,CRF - CLASSIFIED REGULAR FULL-TIME,2023-01-09,0.0,40.00,105401.52,1575642,<NA>,<NA>,271
110850,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,G,T021,"TEACHER,PRINCIPALS,SUPERVISORS ...",WHITE,FEMALE,URP - UNCLASSIFIED REGULAR PART-TIME,2023-01-09,0.0,36.25,47699.88,1575793,<NA>,<NA>,271
111496,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,G,813,TEACHER AIDE II ...,HISPANIC,MALE,CRF - CLASSIFIED REGULAR FULL-TIME,2023-01-19,0.0,40.00,37800.00,1577956,<NA>,<NA>,261
112320,771,SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED ...,V,814,TEACHER AIDE III ...,HISPANIC,FEMALE,CRF - CLASSIFIED REGULAR FULL-TIME,2023-01-30,0.0,40.00,45000.00,1579241,<NA>,<NA>,250

In [7]:
import pandas as pd

from bokeh.io import output_file, show
from bokeh.models import (BasicTicker, ColorBar, ColumnDataSource,
                          LinearColorMapper, PrintfTickFormatter)
from bokeh.plotting import figure
#from bokeh.sampledata.unemployment1948 import data
from bokeh.transform import transform

output_file("unemploymemt.html")

data.Year = data.Year.astype(str)
data = data.set_index('Year')
data.drop('Annual', axis=1, inplace=True)
data.columns.name = 'Month'

# reshape to 1D array or rates with a month and year for each row.
df = pd.DataFrame(data.stack(), columns=['rate']).reset_index()

source = ColumnDataSource(df)

# this is the colormap from the original NYTimes plot
colors = ["#75968f", "#a5bab7", "#c9d9d3", "#e2e2e2", "#dfccce", "#ddb7b1", "#cc7878", "#933b41", "#550b1d"]
mapper = LinearColorMapper(palette=colors, low=df.rate.min(), high=df.rate.max())

p = figure(width=800, height=300, title="US unemployment 1948—2016",
           x_range=list(data.index), y_range=list(reversed(data.columns)),
           toolbar_location=None, tools="", x_axis_location="above")

p.rect(x="Year", y="Month", width=1, height=1, source=source,
       line_color=None, fill_color=transform('rate', mapper))

color_bar = ColorBar(color_mapper=mapper,
                     ticker=BasicTicker(desired_num_ticks=len(colors)),
                     formatter=PrintfTickFormatter(format="%d%%"))

p.add_layout(color_bar, 'right')

p.axis.axis_line_color = None
p.axis.major_tick_line_color = None
p.axis.major_label_text_font_size = "7px"
p.axis.major_label_standoff = 0
p.xaxis.major_label_orientation = 1.0

show(p)

In [8]:
data

Month  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
Year
1948   4.0  4.7  4.5  4.0  3.4  3.9  3.9  3.6  3.4  2.9  3.3  3.6
1949   5.0  5.8  5.6  5.4  5.7  6.4  7.0  6.3  5.9  6.1  5.7  6.0
1950   7.6  7.9  7.1  6.0  5.3  5.6  5.3  4.1  4.0  3.3  3.8  3.9
1951   4.4  4.2  3.8  3.2  2.9  3.4  3.3  2.9  3.0  2.8  3.2  2.9
1952   3.7  3.8  3.3  3.0  2.9  3.2  3.3  3.1  2.7  2.4  2.5  2.5
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2012   8.8  8.7  8.4  7.7  7.9  8.4  8.6  8.2  7.6  7.5  7.4  7.6
2013   8.5  8.1  7.6  7.1  7.3  7.8  7.7  7.3  7.0  7.0  6.6  6.5
2014   7.0  7.0  6.8  5.9  6.1  6.3  6.5  6.3  5.7  5.5  5.5  5.4
2015   6.1  5.8  5.6  5.1  5.3  5.5  5.6  5.2  4.9  4.8  4.8  4.8
2016   5.3  5.2  5.1  4.7  4.5  5.1  5.1  5.0  4.8  4.7  4.4  4.5

[69 rows x 12 columns]