In [48]:
import pandas as pd
import numpy as np

data = pd.read_csv('data/train.csv', index_col = 0, dtype={'multiple_full_time_jobs': 'boolean', 'combined_multiple_jobs': 'boolean'}).reset_index(drop=True)
strCols = data.select_dtypes(object).columns
#data = data.replace(r'^\s*$', np.nan, regex=True)
for i in strCols:
    data[i] = data[i].str.strip()
#data = data.sample(frac=0.1)
#data = data.fillna({'MI': 'NA'}).fillna(True)
data.HIREDT = data.HIREDT.apply(pd.to_datetime, format = "%m/%d/%y")
data['daysexperience'] = (pd.to_datetime('10/7/23', format = "%m/%d/%y") - data.HIREDT ).dt.days
data_num = ['RATE', 'HRSWKD', 'daysexperience']
data_drop = ['AGY', 'HIREDT', 'JOBCLASS']#, 'multiple_full_time_jobs', 'combined_multiple_jobs']
data.drop(data_drop, axis=1, inplace=True)

important_features = ['daysexperience', 'RATE', 'RACE', 'SEX', 'MI', 'HRSWKD', 'JC.TITLE']

In [58]:
data.SEX = data.SEX.eq('MALE').mul(1)

In [52]:
pd.set_option("display.max_rows", None)
data.NAME.value_counts()

HEALTH AND HUMAN SERVICES COMMISSION                  26622
TEXAS DEPARTMENT OF CRIMINAL JUSTICE                  24726
TEXAS DEPARTMENT OF TRANSPORTATION                    10272
DEPARTMENT OF FAMILY AND PROTECTIVE SERVICES           9594
DEPARTMENT OF PUBLIC SAFETY                            8211
TEXAS WORKFORCE COMMISSION                             3477
OFFICE OF THE ATTORNEY GENERAL                         3066
DEPARTMENT OF STATE HEALTH SERVICES                    2792
PARKS AND WILDLIFE DEPARTMENT                          2412
TEXAS COMMISSION ON ENVIRONMENTAL QUALITY              2124
COMPTROLLER OF PUBLIC ACCOUNTS                         2031
TEXAS JUVENILE JUSTICE DEPARTMENT                      1492
TEXAS DEPARTMENT OF INSURANCE                           933
COMPTROLLER OF PUBLIC ACCOUNTS, JUDICIARY SECTION       930
TEXAS EDUCATION AGENCY                                  857
TEACHER RETIREMENT SYSTEM                               856
HOUSE OF REPRESENTATIVES                                778
RAILROAD COMMISSION                                     762
GENERAL LAND OFFICE AND VETERAN'S LAND BOARD            618
TEXAS DEPARTMENT OF MOTOR VEHICLES                      590
DEPARTMENT OF AGRICULTURE                               497
SENATE                                                  465
SCHOOL FOR THE DEAF                                     451
TEXAS MILITARY DEPARTMENT                               416
ALCOHOLIC BEVERAGE COMMISSION                           411
DEPARTMENT OF LICENSING AND REGULATION                  382
SCHOOL FOR THE BLIND AND VISUALLY IMPAIRED              374
TEXAS VETERANS COMMISSION                               345
TEXAS LEGISLATIVE COUNCIL                               337
TEXAS FACILITIES COMMISSION                             334
WATER DEVELOPMENT BOARD                                 308
EMPLOYEES RETIREMENT SYSTEM                             306
DEPARTMENT OF HOUSING AND COMMUNITY AFFAIRS             289
TEXAS HIGHER EDUCATION COORDINATING BOARD               273
TEXAS HISTORICAL COMMISSION                             229
OFFICE OF COURT ADMINISTRATION                          220
TEXAS LOTTERY COMMISSION                                217
DEPARTMENT OF INFORMATION RESOURCES                     166
SECRETARY OF STATE                                      161
PUBLIC UTILITY COMMISSION OF TEXAS                      159
STATE PRESERVATION BOARD                                156
TEXAS MEDICAL BOARD                                     155
DEPARTMENT OF BANKING                                   147
STATE AUDITOR'S OFFICE                                  145
TEXAS ANIMAL HEALTH COMMISSION                          141
REAL ESTATE COMMISSION                                  125
OFFICE OF THE GOVERNOR                                  116
LIBRARY AND ARCHIVES COMMISSION                         115
OFFICE OF INJURED EMPLOYEE COUNSEL                      104
GOVERNOR'S OFFICE, TRUSTEE PROGRAMS                     101
LEGISLATIVE BUDGET BOARD                                 94
BOARD OF NURSE EXAMINERS                                 93
STATE OFFICE OF ADMINISTRATIVE HEARINGS                  92
OFFICE OF RISK MANAGEMENT                                82
BOARD OF PHARMACY                                        77
TEXAS PERMANENT SCHOOL FUND CORPORATION                  72
SUPREME COURT OF TEXAS                                   68
TREASURY SAFEKEEPING TRUST COMPANY                       62
SECURITIES BOARD                                         60
SOIL AND WATER CONSERVATION BOARD                        58
CT CRIM APPEALS                                          57
CONSUMER CREDIT COMMISSION                               56
COMMISSION ON LAW ENFORCEMENT OFFICER STANDARDS AN       53
FIFTH COURT OF APPEALS DISTRICT                          48
TEXAS BEHAVIORAL HEALTH EXECUTIVE COUNCIL                45
SAVINGS AND LOAN DEPARTMENT                              44
STATE BOARD OF DENTAL EXAMINERS                          35
FIRST COURT OF APPEALS DISTRICT                          33
FOURTEENTH COURT OF APPEALS DISTRICT                     31
CANCER PREVENTION AND RESEARCH INSTITUTE OF TEXAS        30
BOARD OF PUBLIC ACCOUNTANCY                              29
FOURTH COURT OF APPEALS DISTRICT                         28
BOARD OF PLUMBING EXAMINERS                              28
TEXAS BOARD OF PROFESSIONAL ENGINEERS AND LAND SUR       28
SECOND COURT OF APPEALS DISTRICT                         27
THIRD COURT OF APPEALS DISTRICT                          26
TEXAS ETHICS COMMISSION                                  25
THIRTEENTH COURT OF APPEALS DISTRICT                     22
TEXAS RACING COMMISSION                                  21
TEXAS COMMISSION ON FIRE PROTECTION                      21
CREDIT UNION DEPARTMENT                                  20
OFFICE OF CAPITAL AND FORENSIC WRITS                     20
COMMISSION ON JAIL STANDARDS                             19
SUNSET ADVISORY COMMISSION                               19
LEGISLATIVE REFERENCE LIBRARY                            17
NINTH COURT OF APPEALS DISTRICT                          16
EIGHTH COURT OF APPEALS DISTRICT                         15
BOARD OF ARCHITECTURAL EXAMINERS                         15
COMMISSION ON STATE EMERGENCY COMMUNICATION              14
BOARD OF VETERINARY MEDICAL EXAMINERS                    14
STATE LAW LIBRARY                                        13
EXECUTIVE COUNCIL OF PHYSICAL THERAPY & OCCUPATION       13
ELEVENTH COURT OF APPEALS DISTRICT                       13
TEXAS COMMISSION ON THE ARTS                             12
SIXTH COURT OF APPEALS DISTRICT                          12
SEVENTH COURT OF APPEALS DISTRICT                        12
TEXAS BOND REVIEW BOARD                                  10
BOARD OF CHIROPRACTIC EXAMINERS                          10
OFFICE OF PUBLIC UTILITY COUNSEL                          9
STATE COMMISSION ON JUDICIAL CONDUCT                      9
TEXAS PUBLIC FINANCE AUTHORITY                            9
COMPTROLLER OF PUBLIC ACCOUNTS, STATE ENERGY CONSE        8
TWELFTH COURT OF APPEALS DISTRICT                         8
TENTH COURT OF APPEALS DISTRICT                           8
STATE PENSION REVIEW BOARD                                7
TEXAS FUNERAL SERVICE COMMISSION                          7
HEALTH PROFESSIONS COUNCIL                                6
TEXAS EMERGENCY SERVICES RETIREMENT SYSTEM                5
OFFICE OF PUBLIC INSURANCE COUNSEL                        5
OPTOMETRY BOARD                                           5
TEXAS BROADBAND DEVELOPMENT OFFICE                        4
OFFICE OF STATE PROSECUTING ATTORNEY                      3
BOARD OF PROFESSIONAL GEOSCIENTISTS                       3
Name: NAME, dtype: int64

In [59]:
import rpy2
from rpy2.robjects.packages import importr
import rpy2.robjects as robjects
import rpy2.robjects.pandas2ri as pandas2ri

with robjects.conversion.localconverter(
    robjects.default_converter + pandas2ri.converter):
    rdf = robjects.conversion.py2rpy(data)

In [40]:
rdf

<rpy2.robjects.vectors.DataFrame object at 0x28aef94d0> [19]
R classes: ('data.frame',)
[StrSexpVe..., StrSexpVe..., StrSexpVe..., StrSexpVe..., ..., IntSexpVe..., BoolSexpV..., BoolSexpV..., IntSexpVe...]
  NAME: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x2864b4150> [16]
R classes: ('character',)
['TEXAS HI..., 'SENATE', 'COMPTROL..., 'SCHOOL F..., ..., "STATE AU..., "STATE AU..., "STATE AU..., 'TEXAS CO...]
  MI: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x28aefb890> [16]
R classes: ('character',)
['C', 'NA', 'J', 'T', ..., 'T', 'H', 'N', 'M']
  JC.TITLE: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x28aef8690> [16]
R classes: ('character',)
['PROJECT ..., 'LEGISLAT..., 'JUDGE, R..., 'LIBRARY ..., ..., 'AUDITOR ..., 'AUDITOR ..., 'AUDITOR ..., 'TRAINING...]
  RACE: <class 'rpy2.robjects.vectors.StrVector'>
  <rpy2.robjects.vectors.StrVector object at 0x28aefb850> [16]
R classes: ('character',)
['BLACK', 'WHITE', 'WHITE', 'WHITE', ..., 'WHITE', 'WHITE', 'HISPANIC', 'OTHER']
...
  EMPTYPE: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x28a1d1450> [13]
R classes: ('integer',)
[32448, 37375, 59115, 79455, ..., 1576407, 1576554, 1577374, 1579244]
  RATE: <class 'rpy2.robjects.vectors.BoolVector'>
  <rpy2.robjects.vectors.BoolVector object at 0x28ac557d0> [10]
R classes: ('logical',)
[       1,        1,        1,        1, ...,        1,        1,        1,        1]
  HRSWKD: <class 'rpy2.robjects.vectors.BoolVector'>
  <rpy2.robjects.vectors.BoolVector object at 0x2863e6810> [10]
R classes: ('logical',)
[       1,        1,        1,        1, ...,        1,        1,        1,        1]
  ANNUAL: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x28ac56150> [13]
R classes: ('integer',)
[310, 6820, 1344, 8766, ..., 279, 279, 279, 250]

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112593 entries, 0 to 112592
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   NAME                     112593 non-null  object
 1   MI                       112593 non-null  object
 2   JC.TITLE                 112593 non-null  object
 3   RACE                     112593 non-null  object
 4   SEX                      112593 non-null  object
 5   EMPTYPE                  112593 non-null  object
 6   RATE                     112593 non-null  float64
 7   HRSWKD                   112593 non-null  float64
 8   ANNUAL                   112593 non-null  float64
 9   STATENUM                 112593 non-null  int64
 10  multiple_full_time_jobs  112593 non-null  boolean
 11  combined_multiple_jobs   112593 non-null  boolean
 12  daysexperience           112593 non-null  int64
dtypes: boolean(2), float64(3), int64(2), object(6)
memory usage: 9.9+ MB

In [60]:
r_package_matchit = robjects.packages.importr('MatchIt')
func_matchit = robjects.r['matchit']
from rpy2.robjects import Formula

func_matchit(formula=Formula('SEX ~ RATE + HRSWKD + STATENUM'),
             data=rdf, method=robjects.rinterface.NULL,
             distance='glm')

<rpy2.robjects.vectors.ListVector object at 0x286435990> [19]
R classes: ('matchit',)
[FloatSexp..., ListSexpV..., LangSexpV..., ListSexpV..., ..., IntSexpVe..., FloatSexp..., BoolSexpV..., ListSexpV...]
  weights: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x2858da310> [14]
R classes: ('numeric',)
[1.000000, 1.000000, 1.000000, 1.000000, ..., 1.000000, 1.000000, 1.000000, 1.000000]
<rpy2.robjects.vectors.ListVector object at 0x286435990> [19]
R classes: ('matchit',)
[FloatSexp..., ListSexpV..., LangSexpV..., ListSexpV..., ..., IntSexpVe..., FloatSexp..., BoolSexpV..., ListSexpV...]
  call: <class 'rpy2.robjects.language.LangVector'>
  Rlang( (function (formula, data = NULL, method = "nearest", distance = "glm",  )
<rpy2.robjects.vectors.ListVector object at 0x286435990> [19]
R classes: ('matchit',)
[FloatSexp..., ListSexpV..., LangSexpV..., ListSexpV..., ..., IntSexpVe..., FloatSexp..., BoolSexpV..., ListSexpV...]
...
  formula: <class 'rpy2.robjects.vectors.IntVector'>
  <rpy2.robjects.vectors.IntVector object at 0x2871c6d90> [13]
R classes: ('integer',)
[0, 0, 1, 1, ..., 1, 1, 0, 0]
  treat: <class 'rpy2.robjects.vectors.FloatVector'>
  <rpy2.robjects.vectors.FloatVector object at 0x2871c7cd0> [14]
R classes: ('numeric',)
[0.426242, 0.428741, 0.702385, 0.376655, ..., 0.420200, 0.420199, 0.420196, 0.420189]
  distance: <class 'rpy2.robjects.vectors.BoolVector'>
  <rpy2.robjects.vectors.BoolVector object at 0x2871c6510> [10]
R classes: ('logical',)
[       0,        0,        0,        0, ...,        0,        0,        0,        0]
<rpy2.robjects.vectors.ListVector object at 0x286435990> [19]
R classes: ('matchit',)
[FloatSexp..., ListSexpV..., LangSexpV..., ListSexpV..., ..., IntSexpVe..., FloatSexp..., BoolSexpV..., ListSexpV...]